<div class="container d-flex justify-content-between align-items-center">
    <div class="col-md-4">
        <p>Busquenos en:</p>
        <ul>
            <li>
                <a target="social-media" href="https://www.facebook.com/112283280567588/">Facebook</a>
            </li>
            <li>
                <a target="social-media" href="https://youtube.com/channel/UCq7PXebEbR3Pw6n2LLQppmA">YouTube</a>
            </li>
        </ul>
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        <p class="text-center text-muted">© Copyright <%- new Date().getFullYear() %> JUMI</p>
    </div>
</div>