<div class="container d-flex justify-content-between align-items-center">
    <div class="col-md-4">
        <p>Busquenos en:</p>
        <ul>
            <li>
                <a href="https://www.facebook.com/">Facebook</a>
            </li>
            <li>
                <a href="https://www.youtube.com/">YouTube</a>
            </li>
        </ul>
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        <p class="text-center text-muted">© Copyright 2020 JUMI</p>
    </div>
</div>