<!DOCTYPE html>
<html>
<%- include('partials/head'); %>
<body>
    <%- include('partials/navs/mainNavigation'); %>
    Welcome to JUMIs - grupos
    <%- include('partials/navs/footer'); %>
</body>
<%- include('partials/scripts'); %>
</html>
