<!DOCTYPE html>
<html>
<%- include('partials/head'); %>
<body>
    <%- include('partials/navs/mainNavigation'); %>
    <div class="container">
        <h1>Welcome to JUMIs</h1>
        <p>Learn about the rosary and activites near you.</p>
    </div>
    <%- include('partials/navs/footer'); %>
</body>
<%- include('partials/scripts'); %>
</html>
