<!DOCTYPE html>
<html>
<%- include('partials/head'); %>
<body>
    <%- include('partials/navs/mainNavigation'); %>
    <div id="app"></div>
</body>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<script type="text/javascript" src="./scripts/variables/colors.js"></script>  
<script type="text/javascript" src="./scripts/variables/prayers.js"></script>  
<script type="text/javascript" src="./scripts/variables/rosaryDays.js"></script>  
<script type="text/javascript" src="./scripts/variables/rosaryMysteries.js"></script>  
<script type="text/javascript" src="./scripts/classes/Cricle.js"></script>  
<script type="text/javascript" src="./scripts/classes/MyCanvas.js"></script>  
<script type="text/javascript" src="./scripts/classes/RosaryPrayer.js"></script>  
<script type="text/javascript" src="./scripts/classes/RosaryControls.js"></script>  
<script type="text/javascript" src="./scripts/classes/RosaryBeats.js"></script>  
<script type="text/javascript" src="./scripts/classes/RosaryCross.js"></script>  
<script type="text/javascript" src="./scripts/classes/RosaryText.js"></script>  
<script type="text/javascript" src="./scripts/main.js"></script>  

</html>
