<!DOCTYPE html>
<html>
<%- include('partials/head'); %>
<body>
    <%- include('partials/navs/mainNavigation'); %>
    <div id="app"></div>
    <%- include('partials/navs/footer'); %>
</body>
<%- include('partials/scripts'); %>
<script type="text/javascript" src="./scripts/variables/colors.js"></script>  
<script type="text/javascript" src="./scripts/variables/prayers.js"></script>  
<script type="text/javascript" src="./scripts/variables/rosaryDays.js"></script>  
<script type="text/javascript" src="./scripts/variables/rosaryMysteries.js"></script>  
<script type="text/javascript" src="./scripts/classes/Cricle.js"></script>  
<script type="text/javascript" src="./scripts/classes/MyCanvas.js"></script>  
<script type="text/javascript" src="./scripts/classes/RosaryPrayer.js"></script>  
<script type="text/javascript" src="./scripts/classes/RosaryControls.js"></script>  
<script type="text/javascript" src="./scripts/classes/RosaryBeats.js"></script>  
<script type="text/javascript" src="./scripts/classes/RosaryCross.js"></script>  
<script type="text/javascript" src="./scripts/classes/RosaryText.js"></script>  
<script type="text/javascript" src="./scripts/rosary.js"></script>  

</html>
